{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="auth_bg"></div>
<div id="sign_up_container">
    <div class ="auth_form">
    <form  method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="auth_button" type="submit">Sign Up</button>
    </form>
    <div class="text_button">
        <a  class="link-light link-offset-5 link-underline-opacity-0 link-underline-opacity-0-hover" href = "{%url "login"%}">
            Or Login
        </a>
    </div>
</div>
</div>

{% endblock content %}

